html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: #eeeeee;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}
